@media print {  
    @page {  
      size:210mm 297mm;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
    }
    img {
      width: 62mm;
      height: 88mm;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      float: left;
    }
}